<h1>Eingang</h1>

<table>
  <tr>
    <th>Betreff</th>
    <th>Von</th>
    <th>Gesendet</th>
  </tr>
    <% @messages.each do |m| %>
      <tr>
        <td>
          <% unless m.read %> <b> <% end %>
          <%= link_to m.subject, user_recipience_message_read_path(m.id) %>
          <% unless m.read %> </b> <% end %>
        </td>
        <td><%= link_to m.sender.nick, user_profile_path(m.sender) %></td>
        <td><%= m.created_at %></td>
      </tr>
    <% end %>
</table>