<div class="field">
    <%= label_tag 'art_group_id', 'Für welche Gruppe möchten Sie die Fangruppe anlegen?' %>
    <br />
    <%= select_tag "art_group_id", options_for_select( @art_groups.map do |u| [u.name, u.groupable_id] end ) %>
</div>