<h1>BandNet</h1>

<p>
  <%= link_to "Alle Gruppen anzeigen", groups_path %>
</p>

<p>
  <%= link_to "Alle Events anzeigen", events_path %>
</p>

<p>
  <%= link_to "Alle Ausschreibungen anzeigen", tenders_path %>
</p>

<p>
  <%= link_to "Alle offenen Ausschreibungen anzeigen", tenders_active_path %>
</p>
